*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;
}

body{

    min-height: 100vh;
    background-color: rgb(242, 215, 206);

}

#wave-header{
    width: 100%;
    height: 200px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 0px 7%;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;  
    z-index: 1000;
    background-image: url(../img/4\ Sem\ Título_20220426152700.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 330px;

}

header .navbar ul{
 
    list-style: none;

}

header .navbar ul li{

    position: relative;
    float: left;

}

header .navbar ul li a{

    font-size: 20px;
    padding: 20px;
    color: rgb(242, 215, 206);
    display: block;

}

header .navbar ul li a:hover{

    background: rgba(213, 120, 84);
    color: antiquewhite;
    border-radius: 8px;
}

header .navbar ul li ul{

    position: absolute;
    left: 0;
    width: 200px;
    background: rgb(32, 36, 39);
    border-radius: 8px;
    display: none;
}

header .navbar ul li ul li {

    width: 100%;
    border-top: 1px solid rgb(0,0,0,.1);
}

header .navbar ul li ul li ul {

    left: 200px;
    top: 0;
}

header .navbar ul li:focus-within > ul,
header .navbar ul li:hover > ul{

    display: initial;
}

#menu-bar{
    display: none;
}

header label{
    font-size: 20px;
    color: rgb(242, 215, 206);
    cursor: pointer;
    display: none;
}

@media(max-width:991px){

    header{
        padding: 20px;
    }

    header label{
        display: initial;
    }

    header .navbar{
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        border-top: 1px solid rgba(213, 120, 84);
        display: none;
    }

    header .navbar ul li{
        width: 100%;
        background: rgb(32, 36, 39);
    }

    header .navbar ul li ul{
        position: relative;
        width: 100%;
        

    }

    header .navbar ul li ul li{
        background: rgb(46, 51, 54);
    }

    header .navbar ul li ul li ul{
        width: 100%;
        left: 0;
    }

    #menu-bar:checked ~ .navbar{

        display: initial;

    }


}


/*banner*/


.banner{

    width: 100%;
    height: 1000px;
    background: url(../img/Group\ 21.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    margin-top: 30px
}

.botao:hover{
    background-color: rgba(213, 120, 84);
    color: white;
}

/*produtos*/

.shop-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, auto));
    gap: 1.5rem;
    margin-left: 1px;
    background-color: white;
    background-size: cover;
}

.product-box{

    position: relative;
    background-color: whitesmoke;
    align-items: center;
    height: 250px;
    width: 250px;
    margin-left: 20%;
    margin-bottom: 20%;


}

.product-box:hover{

    padding: 10px;
    border: 1px solid #000;
    transition: 0.4s;


}

.product-img{

    width: 50%;
    height: auto;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    margin-left: 63px;
    margin-top: 35px;
    

}

.product-title{
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 0.5rem;
    margin-left: 0.5rem;
}

.price{
    font-weight: 500;
    margin-top: 0.5;
    margin-left: 0.5rem;
}

/*title*/

section{
    padding: 7rem 0 1rem;

}

.section-title{
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}

.shop{
    margin-top: 2rem;
}

/*footer*/
footer{
    margin-left: 25%;
    height: 10px;
    margin-bottom: 2.4rem;
    margin-top: 1rem;

}